<?php $self = $this; ?>
<?php echo $self->partial('layout/header'); ?>
<main>
    <div class="container">
        <h1>Exception</h1>
        <h2><?php echo $self->message; ?></h2>
        <?php if((isset($self->display_exceptions)) && ($self->display_exceptions)) : ?>
        <?php if((isset($self->exception)) && ($self->exception instanceof Exception)) : ?>
        <p><strong>Exception:</strong> <?php echo get_class($self->exception); ?></p>
        <p><strong>Message:</strong> <?php echo $self->exception->getMessage(); ?></p>
        <p><strong>File:</strong> <?php echo $self->exception->getFile(); ?></p>
        <p><strong>Line:</strong> <?php echo $self->exception->getLine(); ?></p>
        <pre><?php echo $self->exception->getTraceAsString(); ?></pre>
        <?php $exception = $self->exception->getPrevious(); ?>
        <?php while ($exception instanceof Exception) : ?>
        <p><strong>Exception:</strong> <?php echo get_class($exception); ?></p>
        <p><strong>Message:</strong> <?php echo $exception->getMessage(); ?></p>
        <p><strong>File:</strong> <?php echo $exception->getFile(); ?></p>
        <p><strong>Line:</strong> <?php echo $exception->getLine(); ?></p>
        <pre><?php echo $exception->getTraceAsString(); ?></pre>
        <?php $exception = $exception->getPrevious(); ?>
        <?php endwhile; ?>
        <?php endif; ?>
        <?php endif; ?>
    </div>
</main>
<?php echo $self->partial('layout/footer'); ?>
