<?php $self = $this; ?>
<?php echo $self->doctype() . PHP_EOL; ?>
<html lang="<?php echo Locale::getPrimaryLanguage(Locale::getDefault()); ?>">
<head>
    <meta charset="utf-8">
    <?php
        echo $self->headTitle('Admin') . PHP_EOL;
        
        $self->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0');
        
        echo $self->headMeta() . PHP_EOL;
        
        $self->headLink(array(
            'rel' => 'icon',
            'type' => 'image/x-icon',
            'href' => $self->basePath() . '/img/favicon.ico'
        ));
        
        $self->headLink()->prependStylesheet($self->basePath() . '/css/layout.css');
        $self->headLink()->prependStylesheet($self->basePath() . '/../vendor/bootstrap/css/bootstrap-theme.min.css');
        $self->headLink()->prependStylesheet($self->basePath() . '/../vendor/bootstrap/css/bootstrap.min.css');
        
        echo $self->headLink() . PHP_EOL;
        
        $self->headScript()->prependFile($self->basePath() . '/../vendor/bootstrap/js/bootstrap.min.js');
        $self->headScript()->prependFile($self->basePath() . '/../vendor/jquery/jquery.min.js');
        
        echo $self->headScript() . PHP_EOL;
    ?>
</head>
<body>
    <div class="layout">
        <?php echo $self->content; ?>
    </div>
    <?php echo $self->inlineScript() . PHP_EOL; ?>
</body>
</html>
