<?php $self = $this; ?>
<?php echo $self->partial('layout/header'); ?>
<main>
    <div class="container">
        <?php echo $self->partial('layout/messages'); ?>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    r1c0 <small>Skeleton Application</small>
                </h1>
                <p>Zend Framework 2</p>
            </div>
        </div>
        <h1>The BSD 3-Clause License</h1>
        <p>
            Copyright (c) 2014-2015, Rico Döpner<br> All rights reserved.
        </p>
        <p>Redistribution and use in source and binary forms, with or
            without modification, are permitted provided that the following
            conditions are met:</p>
        <ol>
            <li>Redistributions of source code must retain the above
                copyright notice, this list of conditions and the following
                disclaimer.</li>
            <li>Redistributions in binary form must reproduce the above
                copyright notice, this list of conditions and the following
                disclaimer in the documentation and/or other materials
                provided with the distribution.</li>
            <li>Neither the name of the copyright holder nor the names of
                its contributors may be used to endorse or promote products
                derived from this software without specific prior written
                permission.</li>
        </ol>
        <p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND
            CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
            INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
            MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
            DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
            CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
            SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
            LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF
            USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
            AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
            LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
            IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
            THE POSSIBILITY OF SUCH DAMAGE.</p>
    </div>
</main>
<?php echo $self->partial('layout/footer'); ?>
