<?php $self = $this; ?>
<?php echo $self->partial('layout/header'); ?>
<main>
    <div class="container">
        <h1>Error 404</h1>
        <h2><?php echo $self->message; ?></h2>
    </div>
</main>
<?php echo $self->partial('layout/footer'); ?>
